* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 237, 232);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Gilda Display";
}

.background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  background-size: cover;
}

.texture {
  background-image: url("https://github.com/JustinaDeinyte/JustinaDeinyte.github.io/blob/main/assets/texture.png?raw=true");
  /* background-repeat: no-repeat; */
  height: 1800px;
  width: 100%;
  /* mix-blend-mode: overlay; */
  opacity: 0.2;
  top: 0;
  left: 0;

  overflow: hidden;
  z-index: 50;
}

.gradient {
  background-image: url("https://github.com/JustinaDeinyte/JustinaDeinyte.github.io/blob/main/assets/Gradient.png?raw=true");
  background-repeat: no-repeat;
  height: 100vh;
  width: 551px;
  top: 0;
  right: 0;
  margin-right: -100px;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

nav {
  background-color: rgb(253, 247, 244);
  border-radius: 0 0 120px 120px;
  box-shadow: 0px 4px 50 rgba(206, 186, 177, 0.2);
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 80;
}

nav img {
  height: 65px;
}

.pages {
  width: 200px;
  height: 120px;
  margin-top: 15%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.page {
  font-size: 26px;
  padding: 10px;
}

.social-media {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
  font-size: 24px;
  color: black;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.social {
  padding: 4px;
  text-align: right;
}

/*.outline-asset {
  ----delete this---
  /* height: 100%;
  width: 1200px;
  display: flex;
  position: absolute;
  margin-top: 150px;
  margin-left: 500px; 
  ------

  background-image: url("https://github.com/JustinaDeinyte/JustinaDeinyte.github.io/blob/main/assets/JUSTINA-outlined-full.png?raw=true");
  background-repeat: no-repeat;
  height: 100%;
  width: 1auto;
  margin-top: -15%;
  margin-left: 30%;
}
*/

#nameBlock{
  right:0px;
  height: 700px;
  position: absolute;
  width:100%;
  overflow: hidden;
  margin-top: 100px;
}

/*remove p*/
.blockContents {
  width:100%;
  padding-top: 20px;
  margin-top: 90px;
  font-size: 600px;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Museo';
  color: transparent;
   -webkit-text-stroke: 2px rgb(255, 255, 255);
  /*font-weight: 300;*/
}

.marqueeStyle {
  display:inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 40s linear infinite;
  animation: scrolling-left1 40s linear infinite;
}

.marqueeStyle2 {
  display:inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 40s linear infinite;
  animation: scrolling-left2 40s linear infinite;
  animation-delay: 20s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
      100% {transform: translateX(-100%);
          -webkit-transform: translateX(-100%);}
}
@keyframes scrolling-left2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-left1 {
    0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-left2 {
    0% {-webkit-transform: translateX(0%);}
      100% {-webkit-transform: translateX(-200%);}
}




a:hover {
  color: rgb(249, 124, 127);
}
a {
  color: black;
}
